h1
{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin: 10px;
}

h2, h3
{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body { margin: 1em; }

body, input[text], button
{
    color: #888;
    font-family: Cambria, Georgia;
}

a { cursor: pointer; cursor: hand; }

button
{
    font-family: Arial;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    border-style: solid;
    border-width: thin;
    border-color:#DFD9D9;
}

button:hover { background-color: #cfd8dc; }

button:disabled
{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
  
nav { margin-bottom: 15px; }

nav a
{
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link { color: #607D8B; }

nav a:hover { color: #039be5; background-color: #CFD8DC; }

nav a.active { color: #039be5; }
  
.items
{
    margin: 0 0 1em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
}

.items td
{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em;
    border-radius: 4px;
}

.items td a
{
    display: block;
    text-decoration: none;
}

.items td:hover
{
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.items td.selected
{
    background-color: #CFD8DC;
    color: white;
}

.items td.selected:hover 
{
    background-color: #BBD8DC;
}

.items .text
{
    position: relative;
    top: -3px;
}

.items .badge
{
    color: #5F5D5D;
    background-color: #D3D5D5;
}

* { font-family: Arial, Helvetica, sans-serif; }